<div class="container">

    <h1>회원정보수정</h1>

    <div>
        <form action="/join" method="post" style="display: flex; flex-direction: column;">
            <input style="margin-top: 20px;" id="userId" class="my_auth_form_box_input" type="text" name="userId"
                placeholder="Enter ID" maxlength="20" required />
            <input style="margin-top: 20px;" id="password" class="my_auth_form_box_input" type="password"
                name="password" placeholder="Enter PASSWORD" maxlength="20" required />
            <input style="margin-top: 20px;" id="same-password" class="my_auth_form_box_input" type="password"
                placeholder="Check PASSWORD" maxlength="20" required />
            <input style="margin-top: 20px;" class="my_auth_form_box_input" type="email" name="email"
                placeholder="Enter EMAIL" maxlength="60" required />
            <input style="margin-top: 20px;" class="my_auth_form_box_input" type="text" name="addr"
                placeholder="Enter ADDRESS" maxlength="120" required />
            <div style="margin-top:20px">
                <button type="submit" style="background-color: #E1E2E1;" class="btn">회원가입
                </button>
            </div>
        </form>
    </div>
</div>